.main{
    .vertical-align-wrap{
        .vertical-align-middle{
            .content{
                .date{
                    display: flex;
                    justify-content: space-between;
                }
                .main-head{
                    text-align: center;
                }
                .attendance-radio{
                    display: flex;
                    justify-content: space-evenly;
                    .form-radio{
                        .form-check{
                            font-size: 20px;
                        }
                    }
                }
                .atndnce-btn{
                    display: flex;
                    justify-content: space-evenly;
                    button.btn.btn-danger {
                        width: 200px;
                    }
                }
            }
          
        }
    }
}
.dropbtn {
    background-color: #1e75c7;
    border: 1px solid white;
    color: white;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #1e75c7;
    min-width: 140px;
    z-index: 1;
  }
  .dropdown-content a {
    cursor: pointer;
    padding: 12px 16px;
    display: block;
  }
  .dropdown-content a:hover {background-color: #0d4172;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #0d4172;}
  .leave-drop {
    display: flex;
    justify-content: space-between;
    .daily-attendance{
        .attendance-btn{
            background-color: #1e75c7;
            border: 1px solid white;
            color: white;
            padding: 12px;
            font-size: 16px;
            border-radius: 10px;
        }
    }
}
