.main {
    padding: 0 !important;
    .vertical-align-wrap {
        padding: 50px 0 50px 0;
        font-size: 19px;
        line-height: 1.4285em;
        background-color: #1e75c7;

        .vertical-align-middle {
            // display: table-cell;
            vertical-align: middle;
            color: white;
            padding-top: 60px;

            .auth-box {
                border-radius: 10px;
                max-width: 800px;
                height: auto;
                margin: 0 auto;
                background-color: #ffffff;
                color: #334554;
                box-shadow:5px 5px 5px 5px#1e75c7;
                background: #eefaff;

                .content {
                    width: 99%;
                    padding: 30px;
                    vertical-align: middle;
                    border-bottom: 7 px solid gray;
                    .form-group {
                        padding-bottom: 3px;
                        input.form-control.form-control-lg {                            
                            display: block;
                            margin: 0 0 0.28571429rem 0;
                            font-size: .92857143em;
                            text-transform: none;
                            height: 40px;
                            border: 1 px solid #1e75c7;
                            color: #334554;
                        }

                        ::placeholder {
                            color: White;
                            opacity: 1;
                        }

                        .labels {
                            display: block;
                            margin: 0 0 0.28571429rem 0;
                            font-size: 18px;
                            font-weight: 400;
                            text-transform: none;
                        }

                        select.selectpickeraddemployee.mt-2 {
                            width: 100%;
                            color: #334554;
                            padding: 10px;
                            border: none;

                            option:hover {
                                background-color: #4e867c;
                            }
                        }

                        i.fa.fa-pencil-square-o {
                            float: right;
                            margin-left: 10px;
                            font-size: 23px;
                            cursor: pointer;
                        }
                    }

                    .action-btn {
                        display: flex;
                        justify-content: space-evenly;

                        button.btn.btn-danger {
                            width: 200px;
                        }
                    }

                    .priorty-btn {
                        display: flex;
                        justify-content: space-evenly;

                        .High-btn {
                            padding: 20px;
                            border-radius: 10px;
                            border: 1px solid rgb(204, 140, 140);
                            background-color: rgb(231, 67, 67);
                            color: white;
                            font-size: 18px;
                            box-shadow: 10px 10px 15px 15px #4e867c;
                        }
                        .High-btn:hover{
                            background-color: red;
                        }
                        .medium-btn {
                            padding: 20px;
                            border-radius: 10px;
                            border: 1px solid rgb(88, 204, 123);
                            background-color: rgb(18, 179, 104);
                            color: white;
                            font-size: 18px;
                            box-shadow: 10px 10px 15px 15px #4e867c;
                        }
                        .medium-btn:hover{
                            background-color: green;
                        }
                        .low-btn {
                            padding: 20px;
                            border-radius: 10px;
                            border: 1px solid rgb(49, 194, 204);
                            background-color: rgb(26, 211, 224);
                            color: white;
                            font-size: 18px;
                            box-shadow: 10px 10px 15px 15px #4e867c;
                        }
                        .low-btn:hover{
                            background-color: rgb(2, 179, 238);
                        }
                    }
                    .yesterday-attendance{
                        display: flex;
                        justify-content: space-between;
                        .attendance-btn{
                            background-color: #1e75c7;
                            border: 1px solid white;
                            color: white;
                            padding: 12px;
                            font-size: 16px;
                            border-radius: 10px;
                        }
                        .attendance-btn:hover{
                            background-color: #0d4172
                        }
                    }
                }
            }
        }
    }
}
input.pass-input {
    border: none;
}
button.btn.btn-danger {
    background-color: #1e75c7;
    box-shadow: 5px 5px 5px 5px #1e75c7;
    color: #fff;
    margin-top: 3rem;
    border: none;
    width: 100%;
}

button.btn.btn-danger:hover {
    background-color: #0d4172
}

textarea {
    border-radius: 10px;
    padding: 10px;
}
.alert-msg {
    text-align: center;
    color: #334554;
}
.employee-data{
    cursor: pointer;
.employee-data:hover{
      background-color: #0d4172
}
.user-data{
    display: flex;
    .user-icon{
        height: 60px;
        width: 60px;
        border-radius: 50%;
        box-shadow:5px 5px 5px 5px#1e75c7;
        i.fa.fa-user {
            font-size: 46px;
            margin-left: 14px;
            margin-top: 5px;
            color: #1e75c7;
        }
    }
    .user-details{
        margin-left: 29px;
    }
   
}
.left-arrow{
    font-size: 41px;
    position: relative;
    .fixed{
        position: absolute;
        right: 4%;
        bottom: 0%; 
        i.fa.fa-arrow-right {
            font-size: 41px;
            margin-bottom: 16px;
            color: #1e75c7;
        }
    }     
}
}
.span-pass{
    font-size: 16px;
}
input.pass-check {
    height: 12px;
    margin-left: 5px;
    cursor: pointer;
}