.Navbar{
    border-bottom:  1px solid #4e867c;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.7959558823529411) 40%, rgba(0,212,255,1) 100%);
  }
  .main-nav{
  padding: 0;

  .brand{
    padding-left: 0.5rem;
    margin-left: 5px;
    color: white;
}
  .brand-button{
    margin-top: 4px;
    background:none;
    border: none;
    font-size: 39px;
    color:white;
    cursor: pointer;
  }
  .sidebar{
    position: absolute;
    z-index: 444;
    transition: all .5s;
    transform: translateX(-45rem);
    .close-button-nav{
        padding: 5px;
    }
    .sidebar-close-button{
        color:white;
        border: none!important;
        float: right;
        margin-top: -5px;
        padding: .5rem;
        font-size: 3rem;
        padding-top: 0;
        cursor: pointer;
        background-color: transparent;
      }
      .sidebar-options{
        background-image: url('../../../Assets/sidebar.jpg');
        background-size: cover;
        height: 100vh;
      }
  }
  .sidebar.open{
    margin-left: -15px;
    padding: 0;
    transform: translateX(0);
    z-index: 444;
  }
  .signup-options ul li{
    cursor: pointer;
    color:white;
    font-size: 19px;
    padding:20px;
    list-style-type: none;
    line-height: 30px;
  }
  .signup-options ul{
    padding: 0;
    .dropdown-icon{
        padding: 10px;
        font-size: 23px;
        font-weight: 500;
    }
}

  }
 
 