.main{
    .vertical-align-wrap {
        .attendance-wrap{
            background-color: white;
            padding: 50px;
            overflow-x: auto;
            border-radius: 10px;
            margin-top: 50px;
            // .auth-box{
            //     max-width: 800px;
            // }
            .today-head{
                text-align: center;
            }
            .content{
                // text-align: center;
                .table{
                    th{
                        font-size: 18px;
                        color: #334554;
                    }
                  td{
                    font-size: 16px;
                    color: #334554;
                        .fa-pencil-square-o{
                            cursor: pointer;
                        }
                        .fa-trash{
                            cursor: pointer;
                        }
                  }
                }
            }
        }
    }
    .close-button{
        background-color: #1e75c7;
        color: #334554;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }
    .close-button:hover{
        background-color: #0d4172
    }
}