.main{
    .vertical-align-middle{
        .content{
            .employee-data{
                cursor: pointer;
            .employee-data:hover{
                  background-color: #0d4172
            }
            .user-data{
                display: flex;
                .user-icon{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    box-shadow:5px 5px 5px 5px#1e75c7;
                    i.fa.fa-user {
                        font-size: 46px;
                        margin-left: 14px;
                        margin-top: 5px;
                        color: #1e75c7;
                    }
                }
                .user-details{
                    margin-left: 29px;
                }
               
            }
            .left-arrow{
                font-size: 41px;
                position: relative;
                .fixed{
                    position: absolute;
                    right: 4%;
                    bottom: 0%; 
                    i.fa.fa-arrow-right {
                        font-size: 41px;
                        margin-bottom: 16px;
                        color: #1e75c7;
                    }
                }
               
                
            }
        }
        }
    }
}